@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
/* GENERAL CONTAINER VARIABLES */
/* BORDER RADIUS VARIABLES */
/* GENERAL TRANSITION VARIABLE */
.big-container {
  margin: 0 auto;
  width: 100%;
  height: min;
}
.big-container .loadingDiv {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.big-container .loadingDiv:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 5.2s ease-in infinite;
}
.big-container__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(119, 174, 177, 0.58);
  padding: 40px;
  min-height: 100vh;
}
@media screen and (min-width: 1200px) {
  .big-container__step {
    padding: 80px;
    width: 80%;
  }
}
.big-container__step__text {
  text-align: center;
  font-family: "Prata", serif;
  font-size: 2rem;
  color: rgb(87, 96, 71);
}
.big-container__step__form1 {
  background: rgba(33, 104, 105, 0.58);
  max-width: 1200px;
  width: 90%;
  margin: 17vh auto 0 auto;
  padding: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.big-container__step__form1__container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .big-container__step__form1__container1 {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
  }
}
.big-container__step__form1__container1__select-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.big-container__step__form1__container1__calender-div {
  width: 300px;
}
.big-container__step .calender {
  font-size: 1rem;
  padding: 15px;
  border: 2px solid rgb(163, 209, 163);
}
.big-container__step .error {
  font-size: 1.5rem;
  color: orange;
  height: 40px;
  font-family: "Jaldi", sans-serif;
  background: none;
}
.big-container__step .select {
  width: 20%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
  font-family: sans-serif;
  padding: 5px;
}
.big-container__step .info {
  margin: 0 0 30px 0;
}
.big-container__step .info__p {
  text-align: center;
  font-family: "Jaldi", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .big-container__step .info__p {
    font-size: 1.2rem;
  }
}
.big-container__step .book {
  margin-top: 20px;
  gap: 10px;
  background-color: rgb(87, 96, 71);
  font-size: 1.3rem;
  font-family: "Jaldi", sans-serif;
}
.big-container__step .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.big-container__step .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.big-container__step label {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}
.big-container__step .form2 {
  background: rgba(33, 104, 105, 0.58);
  max-width: 550px;
  width: 90%;
  margin: 17vh auto 0 auto;
  padding: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .big-container__step .form2 {
    max-width: none;
    width: 100%;
  }
}
.big-container__step .form2__container2 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 50px;
}
.big-container__step .form2__container2__input {
  padding: 15px;
  width: -moz-min-content;
  width: min-content;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: black;
  width: 250px;
}
@media screen and (min-width: 1200px) {
  .big-container__step .form2__container2__input {
    width: 450px;
    padding: 30px;
  }
}
.big-container__step .form2__container2__input__gdprContainer__consent {
  color: white;
}
.big-container__step .form2__container2__input__gdprContainer__check {
  width: 20px;
  height: 20px;
}
.big-container__step .form2__container2__send {
  background: rgba(33, 104, 105, 0.58);
  color: white;
  border-style: outset;
  border-color: #c7e3f3;
  height: 50px;
  width: 100px;
  font-family: "Jaldi", sans-serif;
  text-shadow: none;
}
.big-container__step .form2__container2__send:hover {
  background: #8cacc4;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}

.label {
  text-align: center;
  font-size: 1.4rem;
  color: rgb(87, 96, 71);
  font-family: "Prata", serif;
}
@media screen and (min-width: 1200px) {
  .label {
    font-size: 2.6rem;
  }
}

.result {
  font-size: 1.2rem;
  font-family: "Jaldi", sans-serif;
  color: hsl(132, 18%, 42%);
}
@media screen and (min-width: 1200px) {
  .result {
    font-size: 2rem;
  }
}

.time {
  background-color: rgb(87, 96, 71);
}/*# sourceMappingURL=booking.css.map */