@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

$tablet_breakpont: 676px;
$desktop_breakpoint: 1200px;

$primary-hue: 132;
$black-lightness: 15%;
$dark-lightness: 44%;
$light-lightness: 94%;
$white-lightness: 100%;
$color-primary: hsl(132, 18%, 42);
$olive: rgb(87, 96, 71);
$darker-bg: rgba(33, 105, 71, 0.58);
$dark-title: rgb(45, 66, 6);
$olive-low: rgba(87, 96, 71, 0.231);
$grey-bg: rgba(186, 187, 183, 0.231);

$color-primary_2: hsl(205, 53%, 92%);

$color-white: hsl(0, 5%, $white-lightness);
$color-light: hsl($primary-hue, 5%, $light-lightness);
$color-black: hsl($primary-hue, 5%, $black-lightness);
$color-dark: hsl($primary-hue, 5%, $dark-lightness);

/* GENERAL CONTAINER VARIABLES */
$container-width-lg: 76%;
$container-width-md: 90%;

/* BORDER RADIUS VARIABLES */
$border-radius-1: 1.2rem;
$border-radius-2: 0.8rem;
$border-radius-3: 0.5rem;

/* GENERAL TRANSITION VARIABLE */
$transition: all 500ms ease;

// font family
$title: 'Prata', serif;
$regular: 'Jaldi', sans-serif;