@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

$dark: #374151;
$darker: #1f2937;
$darker: #1f2937;
$darkest: #111827;
$grey: #6b7280;
$pink: #ec4899;
$purple: #8b5cf6;
$light: #eee;
$green: #68dea0;
$myFont_family: 'Indie Flower', cursive;
$tablet_breakpont: 676px;
$desktop_breakpoint: 1200px;

$primary-hue: 132;
$black-lightness: 15%;
$dark-lightness: 44%;
$light-lightness: 94%;
$white-lightness: 100%;
$color-primary: hsl(132, 18%, 42);

$color-primary_2: hsl(205, 53%, 92%);

// background: hsl(270, 18%, 55%);
// background: #8e73a4;

$color-white: hsl(0, 5%, $white-lightness);
$color-light: hsl($primary-hue, 5%, $light-lightness);
$color-black: hsl($primary-hue, 5%, $black-lightness);
$color-dark: hsl($primary-hue, 5%, $dark-lightness);

/* GENERAL CONTAINER VARIABLES */
$container-width-lg: 76%;
$container-width-md: 90%;

/* BORDER RADIUS VARIABLES */
$border-radius-1: 1.2rem;
$border-radius-2: 0.8rem;
$border-radius-3: 0.5rem;

/* GENERAL TRANSITION VARIABLE */
$transition: all 500ms ease;

// font family
$first_page_font: ' Mynerve ', cursive, sans-serif;
$header_font: 'EB Garamond', serif;
$all_text: 'Bodoni Moda', serif;
