@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

.nav {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(33, 104, 105, 0.58);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: v.$container-width-lg;
    margin-inline: auto;
    max-width: 1920px;

    &__logo {
      color: v.$offwhite;
      font-family: v.$title;
      font-size: 3rem;
    }

    &__menu {
      display: none;

      @include m.tablet {
        display: flex;
        gap: 3.5rem;
      }

      &__links {
        font-size: v.$regularsize;
        font-family: v.$regular;
        color: v.$offwhite;
      }
    }
  }
}
