@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

.nav {
  width: 100vw;
  height: 4rem;
  display: grid;
  place-items: center;
  // background: v.$darker-bg;
  background: rgba(33, 104, 105, 0.58);
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 9;
  // box-shadow: 0 1rem 1.5rem hsla(v.$primary-hue, 68%, 42%, 20%);
  // transition: v.$transition;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: v.$container-width-lg;
    margin-inline: auto;
    max-width: 1920px;

    &__logo {
      color: v.$offwhite;
      // color: #fff;
      // color: v.$olive;
      font-family: v.$title;
    }

    &__menu {
      display: none;

      @include m.tablet {
        display: flex;
        gap: 3.5rem;
      }

      &__links {
        font-size: v.$regularsize;
        font-family: v.$regular;
        color: v.$offwhite;
      }
    }
  }
}
