@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

.nav {
  width: 100vw;
  height: 4rem;
  display: grid;
  place-items: center;
  background: rgba(33, 104, 105, 0.58);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 1rem 1.5rem hsla(v.$primary-hue, 68%, 42%, 20%);
  transition: v.$transition;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      color: #fff;
      font-family: v.$myFont_family;
    }

    &__menu {
      display: none;

      @include m.tablet {
        display: flex;
        gap: 3.5rem;
      }

      &__links {
        font-size: 1.2rem;
        font-family: v.$myFont_family;
      }
    }
  }
}
