@use '../../style/variables.scss' as v;
@use '../../style/mixins.scss' as m;

.title{
  font-size: v.$titlesize;
  font-family: v.$title;
  color: v.$dark-title;
}

.big-container {
  
  display: flex;
  gap: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  height: 100%;
  padding-top: 6rem;

  &__container {
    margin-bottom: 4%;
    padding: 4%;
    width: 45%;
    background-color: v.$grey-bg;
    border-radius: 10px;
    @include m.tablet{
      width: 30%;
    }
    @include m.desktop{
      width: 22%;
    }

    &__icons {
      font-size: 1.5rem;
      color: v.$olive;
    }
  }
}
