@use '../../style/variables.scss' as v;

.menu-container {
  &__title {
    font-family: v.$title;
    font-size: v.$titlesize;
    color: v.$dark-title;
  }
  &__article {
    margin: 2em;
    padding: 1em;

    &__title {
      font-family: v.$title;
      margin: 1em;
      color: v.$olive;
    }
    &__name {
      font-family: v.$title;
      margin-top: 1em;
      margin-bottom: 0.6em;
      color: v.$dark-title;
      font-size: v.$regularsize;
    }
    &__is {
      font-family: v.$regular;
    }
    &__price {
      font-family: v.$regular;
      padding-left: 0.8em;
    }
  }
}
