@use "./components/style/variables.scss" as v;
@use './components/style/mixins.scss' as m;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: v.$regular, 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
  background-color: v.$grey-bg;
}

//  GENERAL CONTAINER CLASS
.container {
  width: v.$container-width-lg 76%;
  margin-inline: auto;
  max-width: 1920px;
}

//GENERAL SECTION STYLES
section {
  padding: 5rem 0;
}

section > h2 {
  text-align: center;
}

section > p {
  text-align: center;
  margin: 0.5rem auto 4rem;
  width: 40%;
}

/* GENERAL SECTION STYLES */
a {
  color: v.$color-white;
  transition: v.$transition;
}

/* GENERAL IMAGES STYLES */
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* GENERAL BUTTON STYLES */
.btn {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: v.$color-light;
  color: v.$color-black;
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: v.$border-radius-2;
  cursor: pointer;
  font-family: v.$regular;

  @include m.desktop {
    font-size: 1.5rem;
  }
}

.btn:hover {
  background-color: transparent;
  border-color: v.$color-light;
  transform: translateY(-0.5rem);
}

.btn.white {
  background: v.$color-white;
  background: hsl(150, 14%, 14%);
}

.btn.white:hover {
  background: transparent;
  border-color: v.$color-white;
}

.btn.primary {
  background: rgba(33, 104, 105, 0.58);
  color: v.$offwhite;
}

.btn.primary:hover {
  background: transparent;
  border-color: rgba(33, 104, 105, 0.58);
  color: rgba(33, 104, 105, 0.58);
}

.btn.sm {
  padding: 0.5rem 1.2rem;
}

//MEDIA QUERIES (tablets)
@media screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }

  .container {
    width: v.$container-width-md;
  }

  section > p {
    width: 72%;
    margin-bottom: 3rem;
  }

  /* MEDIA QUERIES (phones) */
  @media screen and (max-width: 600px) {
    .btn {
      padding: 0.6rem 1.5rem;
    }

    section > p {
      width: v.$container-width-md;
    }
  }
}
