@use "../../style/variables.scss" as v;
@use "../../style/mixins.scss" as m;

.bookingform {
  @include m.tablet {
    min-height: calc(100vh - 14em);
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    &__title {
      font-size: v.$titlesize;
      font-family: v.$title;
      color: v.$olive;
      @include m.tablet {
        font-size: 3rem;
      }
    }
    &__header {
      font-size: 30px;
      padding: 20px;
    }

    &__curtainContainer {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }
  }

  &__btnContainer {
    @include m.tablet {
      display: flex;
    }
  }
}

.select {
  width: 100%;
  font-size: 1rem;
}

#button {
  margin: 20px;
  background-color: v.$darker-bg;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0.6rem 2.5rem;
  border-radius: v.$border-radius-2;
  cursor: pointer;
  font-family: v.$regular;
}

#button:hover {
  border-color: v.$color-light;
  transform: translateY(-0.5rem);
}
.isLoading {
  display: inline-block;
  width: 100px;
  height: 100px;

  &:after {
    content: ' ';
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 5.2s ease-in infinite;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.smaller-title {
  font-size: v.$titlesize;
  font-family: v.$title;
  color: v.$olive;
}
